h1{
    color: red;
}
p{
    color: blue;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 20px;
    width: 800px;
    background-color: rgba(0, 255, 85, 0.2);
}
body{
    background-color: aliceblue;
}