<div class="header section">
  <div class="container">
    <div class="logo">
      <a href="homepage.html"><img src="images/logo.png" width="150" height="150"></a>
    </div>
    <div class="header_img">
      <img src="images/header_img.png" width="320" height="140">
    </div>
    <div class="toplinks">
      <ul>
        <li><a href="#"><img src="images/insta.png" width="40" height="40"></a></li>
        <li id="fb"><a href="#"><img src="images/fb.png" width="40" height="40"></a></li>
        <li id="pin"><a href="#"><img src="images/pinterest.png" width="55" height="55"></a></li>
        <li id="twi"><a href="#"><img src="images/twitter.png" width="55" height="55"></a></li>
      </ul>
    </div>
  </div>
</div>
