<div class="container">
  <p>Angular 2 QuickStart</p>
  <h4 class="bg-primary form-control text-white col-md-5">Current User: Test@Test.com</h4>
  <button type="submit" class="btn btn-success">Add Product</button><br/>
  <table class="table">
    <thead>
      <th></th>
      <th>Product Name</th>
      <th>Product Price</th>
    </thead>
    <tbody>
      <tr>
        <td><i class="fas fa-edit"></i></td>
        <td>Product One</td>
        <td>$22.50</td>
      </tr>
      <tr>
        <td></td>
        <td>Product Two</td>
        <td>$15.00</td>
      </tr>
      <tr>
        <td></td>
        <td>Product Four</td>
        <td>$123.82</td>
      </tr>
      <tr>
        <td></td>
        <td>Product Five</td>
        <td>$123.75</td>
      </tr>
    </tbody>
  </table>
</div>
